.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  z-index: 9999;
}

.success {
  background-color: #4caf50;
}

.error {
  background-color: rgb(136, 0, 0);
}

.info {
  background-color: #2196f3;
}
