header {
  display: flex;
  justify-content: space-between;
  background: #1c3738;
  align-items: center;
  padding: 0.7rem 1rem;
  border-bottom: 1px solid #eee;
}

.logo-img {
  height: 40px;
  width: auto;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
}

.hamburgermenu-icon i {
  color: #f4fff8;
  font-size: 36px;
  margin: 0;
}

.top-nav {
  position: absolute;
  top: 62px;
  right: 0;
  width: 70%;
  max-width: 280px;
  background: white;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: none;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.top-nav.is-open {
  display: block;
  transform: translateX(0);
  pointer-events: auto;
  opacity: 1;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-nav li {
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.top-nav a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}
