<section class="list" *ngIf="todolist">
    <button class="back-btn" routerLink="">Tillbaka</button>
    <div class="tasks-container">
        <h1>{{todolist.listName}}</h1>
        <p>Antal samlade ⭐: {{todolist.stars}}</p>
        <ul>
            <li *ngFor="let todo of todolist.toDos">
                {{todo.name}} 
                <a [routerLink]="['/update-todo', todolist.toDoListId, todo.toDoId]">
                    Uppdatera uppgift
                </a>
                <div class="star" [class.completed]="todo.completed">⭐</div>
                <input class="task-checkbox" type="checkbox" [checked]="todo.completed" (change)="toggleCompleted(todo)">
            </li>
        </ul>
    </div>
    <button [routerLink]="['/add-todo', todolist.toDoListId]" class="new-task-btn">Lägg till uppgift</button>
</section>
<div class="button-container" *ngIf="todolist">
    <button class="remove-list-btn" (click)="deleteList(todolist.toDoListId)">Ta bort lista</button>
    <button class="edit-list-btn" [routerLink]="['/update-list', todolist.toDoListId]">Redigera lista</button>
</div>

