.list,
.button-container,
.tasks-container {
  display: flex;
  margin-bottom: 1em;
}

.list,
.tasks-container {
  justify-content: center;
  align-items: center;
}

.button-container {
  width: 100%;
  margin: 1em 1em 0 1em;
  justify-content: space-between;
}

.list,
.tasks-container {
  flex-direction: column;
}

.tasks-container {
  width: 80%;
  background-color: #8abbbd;
}

.tasks-container ul {
  padding: 0;
  width: 80%;
}

.tasks-container li {
  background-color: #f4fff8;
  list-style: none;
  padding: 30px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.new-task-btn {
  padding: 15px;
  background-color: #1c3738;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  margin: 0 0 2em 0;
}

.remove-list-btn,
.edit-list-btn,
.edit-todo-button {
  border: none;
  background: none;
}

.task-checkbox {
  transform: scale(1.5);
}

.new-task-btn:hover {
  box-shadow: 3px 3px 6px black;
}

.star {
  display: none;
}

.star.completed {
  display: flex;
  align-items: center;
  margin-bottom: 0.2em;
}
