.add-todo {
    margin: auto;
}

.add-todo, .add-todo form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-name, .input-name {
    margin: 10px;
    padding: 10px;
}

.add-todo-btn {
    padding: 20px;
    background-color: #1c3738;
    color: white;
    font-size: large;
    border-radius: 10px;
    border: none;
    margin: 20px;
}

.add-todo-btn:hover {
    box-shadow: 3px 3px 6px black;
}