.update-todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8abbbd;
    margin: auto;
    width: 80%;
}

.update-todo form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-name, .input-name {
    margin: 10px;
    padding: 10px;
}

.update-todo-btn {
    padding: 20px;
    background-color: #1c3738;
    color: white;
    font-size: large;
    border-radius: 10px;
    border: none;
    margin: 20px;
}

.update-todo-btn:hover {
    box-shadow: 3px 3px 6px black;
}